    <div class="card ">
        <h1>{{post.title}}</h1>
            <h3>{{post.words}}</h3>
            <div>
                <p>By: {{post.user.username}}</p>
                <p>{{post.createdAt}}</p>
            </div>
    </div>