<div class="card">
  <div class="card-header">
    <h2 style="color:#065b83">Hey, {{username}}!</h2>
  </div>
  <form class="card-body" id="new-post">
    <label for="post-title" class="form-label" style="color:#065b83">Create a New Post:</label>
    <input class="post-title" type="text" id="post-title" name="post-content"/>
    <label for="post-content" class="form-label" style="color:#065b83"></label>
    <input class="post-input" type="text" id="post-content" name="post-content"/>
    <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
<script src="/js/newPost.js"></script>
