<div class='card'>
        <h1>Sign Up</h1>
        <form class="signup-form" class="card">
            <label for="username-signup">Username</label>
            <input id="username-signup" type="text" class="form-input">
            <label for="password-signup">Password</label>
            <input id="password-signup" type="text" class="form-input">
            <button type="submit"> Signup.</button>
        </form>
</div>

<script src="/js/signup.js"></script>