{{> postInfo }}

{{#if loggedIn}}
{{>comments}}
{{/if}}

{{#if post.comments.length}}
{{#each post.comments as |comment| }}

<p>Comment By: {{comment.user.username}}</p>
    <p>{{comment.comment_words}}</p>
{{/each}}
{{/if}}